node_modules
public/hot
public/storage
public/build
storage/*.key
vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
yarn.lock
composer.lock
package-lock.json
.editorconfig
postcss.config.js
tailwind.config.js
